<app-header title="Grid"></app-header>

<ion-content>

  <ion-grid fixed>
    <ion-row>
      <ion-col
        size="12"
        size-lg="3"
        size-md="4"
        size-sm="6" 
        *ngFor="let item of [1,1,1,1,1,1,1,1,1,1,1,1]">
        <ion-card>
          <ion-img src="/assets/user.jpg"></ion-img>

          <ion-card-header>
            <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
            <ion-card-title>Card Title</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Id rerum ut dolorem, libero quod obcaecati 
            repellendus, saepe aut nam impedit porro. Dolore eius facere sed possimus earum quaerat ab sint?
        </ion-card-content>
        </ion-card>
      </ion-col>

    </ion-row>
  </ion-grid>

</ion-content>
