
    ion-row{
        font-size: small;
        font-style: italic;
        background: #444;
        color: #fff;
        padding: 5px;
    }
    ion-grid{
        border: 3px solid;
        background-color: aqua;
        color: rgb(22, 8, 224);
        font-size: medium;
    }
