<ion-header class="ion-no-border">
  <ion-toolbar>
   <!-- <ion-buttons slot="start">
      <ion-button (click)="mostrarmenu()" color="primary">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>-->
    <ion-buttons slot="start">
      <ion-menu-button menu="first" color="primary"></ion-menu-button>
    </ion-buttons>
    <ion-title color="primary">Components</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item 
      *ngFor="let item of components | async" [routerLink]="item.redirecTo" detail="true"
    >
      <ion-icon [name]="item.icon" slot="start"></ion-icon>
      {{item.name}}
    </ion-item>
  </ion-list>
</ion-content>
