<app-header title="Card"></app-header>

<ion-content fullscreen>
    <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
          <ion-card-title>Card Title</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-item color="primary">
            <ion-icon slot="start" name="pin-outline"></ion-icon>
            <ion-label>Marcador</ion-label>
        </ion-item>

        <ion-card-content>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Id rerum ut dolorem, libero quod obcaecati 
            repellendus, saepe aut nam impedit porro. Dolore eius facere sed possimus earum quaerat ab sint?
        </ion-card-content>

    </ion-card>

    <ion-card>
        <img src="https://www.globaltimes.cn/Portals/0/attachment/2021/2021-03-21/a0a66660-084b-4282-a75f-4469c92441dd.jpeg">
        <ion-card-content>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Id rerum ut dolorem, libero quod obcaecati 
            repellendus, saepe aut nam impedit porro. Dolore eius facere sed possimus earum quaerat ab sint?
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-item>
          <ion-icon name="pin" slot="start"></ion-icon>
          <ion-label>ion-item in a card, icon left, button right</ion-label>
          <ion-button fill="outline" slot="end">View</ion-button>
        </ion-item>
      
        <ion-card-content>
          This is content, without any paragraph or header tags,
          within an ion-card-content element.
        </ion-card-content>
      </ion-card>
</ion-content>
